@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap'); 

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 2000;   
    box-sizing: border-box;
    color: #ffffff;
}

body{
    background-image:linear-gradient(rgba(30, 30, 31, 0.8),rgba(34, 35, 36, 0.9)),url(bldng1.webp);
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    position:fixed;
    bottom:0px;
    width:100%;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.logo .logo1{
    width:250px;
}

.logo .logo2{
    width:100px;
}

.footer1{
    background: #ed1c24;
    width:80%;
    color: #ed1c24;
}

.footer2{
    display:flex;
    justify-content: center;
    color: #ffffff;
    background: #b7202e;
}

.footer2 .social{
    margin: 10px 0 10px 0;
    color:#ffffff;
}

.footer2 .social a{
    padding: 0 2px; 
}

.footer2 .social a span{
    height: 40px;
    width: 40px;
    /* background: #58595b; */
    line-height: 40px;
    text-align:center;
    font-size: 20px;
    border-radius: 5px;
    color:#ffffff;
    transition: 0.3s;
    
}

.footer2 .social a span:hover{
    background:#58595b;
}


.container {
    background-color: #b7202e;
    position: relative;
    /* height: 20%; */
    max-height: 70%;
    min-height: fit-content;
    /* overflow-y: auto; */
    width: 50%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1% 0 1% 0.5%;
    border-radius: 12px;
    display: flex;
    margin: 10vh;
    justify-content: center;
    bottom: 8%;
    /* left:10%; */
}

.table-container{
    position: relative;
    width: 98%;
    height: 100%;
    /* overflow-y: scroll;
    scroll-behavior: smooth; */
}

.container::-webkit-scrollbar{
    width: 0.5vw;
    height: 0.5vw;
}

.container::-webkit-scrollbar-thumb{
    background: #ffffff;
    border-radius: 0.25rem;  
}

table{
    width: 99%;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    overflow: hidden;  
    border-radius: 12px;
    color: #ffffff;
}

.the{
    font-weight: bold;
    background-color: #ffffff;
    color: #b7202e;
    border-left: 1px solid #b7202e;
    /* border: 3px solid #ed1c24; */
}

.the:first-child{
    border-left: none;
}

td{
    width: fit-content;
    text-align: center;
    white-space: nowrap;
    border: 3px solid #ffffff;
    border-collapse: collapse;
    padding: 0.5vw;
}

.btn {
    background-color: #4CAF50;
    /* background-color: #58595b; */
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/*upload delete*/

.upload-delete-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 50%;
    margin-bottom: 18vh;
    /* bottom: 20%; */
    /* flex-wrap: wrap; */
    /* margin:12% 6%; */
}

.button.collapsible.active{
    border-radius: 0;
    /* border-bottom-left-radius: 0 ;
    border-bottom-rightt-radius: 0 ; */
}

.upload,.delete{
    min-width: 15em;
    position:relative;
    margin: 10vh;
    /* margin:2em;    */
}

.upload *{
    box-sizing: border-box;
}
.delete *{
    box-sizing: border-box;
}


.collapsible,.collapsible2{
    background-color: #b7202e;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* margin-left: 3%; */
    border-radius: 12px;
}

.active{
    background-color: #b7202e;
    font-weight: bolder;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.collapsible:hover,.collapsible2:hover {
    font-weight: bolder;
    background-color: #b7202e;
    box-shadow: 0 0 0.8em #26489a;
    font-weight: bolder;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,select
{
    margin: 10px 0 0 0;
    width: 60%;
    min-height: 2em;
}

input{
    background-color: #b7202e;
    border: 1px solid #b7202e;
    color: #ffffff;
}

.btn2{
    border: none;
    color:white;
    background-color: #b7202e;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2%;
    /* margin: 4px 2px; */
    cursor: pointer;
    width: 50%;
    border-radius: 12px;
}

.content {
    padding:18px;
    width:100%;
    /* margin-left:3%; */
    display: none;
    overflow: hidden;
    background-color: white;
    transition: ease-in;
    border-radius: 12px;
    border-top-right-radius:0 ;
    border-top-left-radius:0 ;
}
/* 
.collapsible2{
    background-color: #b7202e;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-left: 55%;
    margin-right: 3%;
} */


.content2 {
    padding:18px;
    width:100%;
    /* margin-left:55%; */
    /* margin-right: 7%; */
    border-radius: 12px;    
    display: none;
    overflow: hidden;
    background-color: white;
    transition: ease-in;
    border-top-right-radius:0 ;
    border-top-left-radius:0 ;
}

/* .choosefile::-webkit-file-upload-button{
    visibility: hidden;
}

.choosefile::before{
    content: 'Choose file to be uploaded';
    display: inline-block;
    padding-left: 3%;
    white-space: nowrap;
    display: inline-block;
    -webkit-user-select: none;
    cursor: pointer;
    color: #58595b;
    width: fit-content;
    
} */

input{
    background-color: white;
    color: black;
    border: 1px solid #58595b;
    border-radius: 5px;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
}

input[type=file]::file-selector-button {
    padding: 3%;
    /* content: 'Choose file to be uploaded'; */
    background-color: white;
    font-weight: bolder;
    border: none;
}
  
input[type=file]::file-selector-button:hover {
    cursor: pointer;
}

input[type=text]{
    padding-left: 3%;
    color: black;
    font-size: 1.68vh;
    background-color: white;
}

#label{
    font-weight: bolder;
    margin-right: 2vw;
}

.content2 select{
    font-size: 2vh;
}

.gatewaytitle{
    font-family: 'Marcellus';
    font-size:25px;
    display: block;
    text-align: center;
    color:#ffffff;
    font-style: bold;
}


.tit{
    font-family: 'Marcellus';
    font-size:18px;
    display: block;
    text-align: center;
    color:#ffffff;
    font-style: bold;
}

.arm{
    margin-left: -450px;
    margin-right: -65px;
    margin-top: -38%;
    display: flex;
}
.arm2{
    /* margin-left: -322px; */
    margin-right: 250px;
    margin-top: -40%;
    display: flex;
    font-size: 20px;
    font-family: serif;
}