@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap'); 

                                                    /*basic.html*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 2000;   
}

.img{
    background-image:linear-gradient(rgba(30, 30, 31, 0.8),rgba(34, 35, 36, 0.9)),url(bldng1.webp);
    background-position: center;
    background-size: cover;
}

footer{
    position:fixed;
    bottom:0px;
    width:100%;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}


.logo .logo1{
    width:250px;
}

.logo .logo2{
    width:100px;
}

.footer1{
    background: #ed1c24;
    width:80%;
    color: #ed1c24;
}

.footer2{
    display:flex;
    justify-content: center;
    color: #ffffff;
    background: #b7202e;
}

.footer2 .social{
    margin: 10px 0 10px 0;
    color:#ffffff;
}

.footer2 .social a{
    padding: 0 2px; 
}

.footer2 .social a span{
    height: 40px;
    width: 40px;
    /* background: #58595b; */
    line-height: 40px;
    text-align:center;
    font-size: 20px;
    border-radius: 5px;
    color:#ffffff;
    transition: 0.3s;
    
}

.footer2 .social a span:hover{
    background:#58595b;
}

a {
text-decoration: none;
}

/* Home */
.home {
position: relative;
height: 100vh;
width: 100%;
background-image: url("banner2.jpg");
background-size: cover;
background-position: center;
}
.roww {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 80px;
    align-items: center;
    align-content: center;
}
/* Subjects */
.form_container {
flex-grow: 1;
flex-basis: 200px;
margin: 100px 100px 0px 100px;
transform: scale(1.2);
background: #ffffff;
padding: 25px;
border-radius: 12px;
box-shadow: rgba(0, 0, 0, 0.1);
}

.roww a{
    text-decoration: none;
}

.roww .form_container{
    color: #b7202e;
}

.roww .form_container:hover{
    background-color: #b7202e;
    color: white;
}

.gatewaytitle{
    font-family: 'Marcellus';
    /* font-family: 'Signika Negative', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    font-size:35px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 4%;
    color:#ffffff;
    font-style: bold;
}