@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap'); 

                                                    /*basic.html*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 2000;   
}

.img{
    background-image:linear-gradient(rgba(30, 30, 31, 0.8),rgba(34, 35, 36, 0.9)),url(bldng1.webp);
    background-position: center;
    background-size: cover;
}

footer{
    position:fixed;
    bottom:0px;
    width:100%;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}


.logo .logo1{
    width:250px;
}

.logo .logo2{
    width:100px;
}

.footer1{
    background: #ed1c24;
    width:80%;
    color: #ed1c24;
}

.footer2{
    display:flex;
    justify-content: center;
    color: #ffffff;
    background: #b7202e;
}

.footer2 .social{
    margin: 10px 0 10px 0;
    color:#ffffff;
}

.footer2 .social a{
    padding: 0 2px; 
}

.footer2 .social a span{
    height: 40px;
    width: 40px;
    /* background: #58595b; */
    line-height: 40px;
    text-align:center;
    font-size: 20px;
    border-radius: 5px;
    color:#ffffff;
    transition: 0.3s;
    
}

.footer2 .social a span:hover{
    background:#58595b;
}

                                                        /*login.html*/

a {
text-decoration: none;
}

/* Home */
.home {
position: relative;
height: 100vh;
width: 100%;
background-image: url("banner2.jpg");
background-size: cover;
background-position: center;
}

.arm{
    font-family: 'Marcellus';
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size:35px;
    display:fixed;
    margin-top: 100px;
    margin-left: 20px;
    /* padding-bottom: 4%; */
    color:#ffffff;
    font-style: bold;
    top: 10%;
}

/* Form */
.form_container {
position: fixed;
max-width: 320px;
width: 100%;
top: 45%;
left: 50%;
transform: translate(-50%, -50%) scale(1.2);
z-index: 101;
background: #ffffff;
padding: 25px;
border-radius: 12px;
box-shadow: rgba(0, 0, 0, 0.1);
} 

.input_box {
position: relative;
margin-top: 30px;
width: 100%;
height: 40px;
}
.input_box input {
height: 100%;
width: 100%;
border: none;
outline: none;
padding: 0 50px;
color: #333;
transition: all 0.2s ease;
border-bottom: 1.5px solid #aaaaaa;
}                         
.input_box input:focus {
border-color: #b7202e;
}

.input_box i {
position: absolute;
top: 50%;
transform: translateY(-50%);
font-size: 20px;
color: #707070;
}

.input_box i.email,
.input_box i.password {
left: 10px;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
color: #b7202e;
}

.input_box i.pw_hide {
right: 10px;
font-size: 18px;
cursor: pointer;
}

.option_field {
margin-top: 14px;
display: flex;
align-items: center;
justify-content: space-between;
}
.form_container a {
color: #b7202e;
font-size: 12px;
}
.form_container a:hover {
text-decoration: underline;
}
.checkbox {
display: flex;
column-gap: 8px;
white-space: nowrap;
}
.checkbox input {
accent-color: #b7202e;
}
.checkbox label {
font-size: 12px;
cursor: pointer;
user-select: none;
color: #0b0217;
}
.form_container .loginbtn {
background: #b7202e;
margin-top: 30px;
width: 100%;
padding: 10px 0;
border-radius: 10px;
color:#ffffff;
} 

                                                /* second page css*/
.gatewaytitle{
    font-family: 'Marcellus';
    font-size:25px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-top: 4%;
    color:#ffffff;
    font-style: bold;
}

.main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:12% 10%;
    margin-bottom:7.3%;
    padding-right: 20px;
}

.highlight{
    font-family: 'Fira sans';
    font-size: 20px;;
}

.sem, .branch, .pastyear{
    min-width: 15em;
    position:relative;
    /* margin:2em; */
    /* align-items: center; */
    margin: -7% auto 0 auto;
    /* text-align: center;
    justify-content: center; */
    
}

.sem *{
    box-sizing: border-box;
}
.branch *{
    box-sizing: border-box;
}
.pastyear *{
    box-sizing: border-box;
}

.select{
    color:#ffffff;
    font-style: bold;
    /* font-size: large;  */
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 2px  #b7202e solid;
    border-radius: 0.5em;
    padding:1em;
    cursor:pointer;
    transition:0.3s;
}

.select-clicked{
    border:2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
    background:#b7202e;
    color:#ffffff;
    box-shadow: 0 0 0.8em #26489a;
}

.symbol{
    width: 0;
    height: 0;
    border-left:5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition:0.3s;
}

.symbol-rotate{
    transform:rotate(180deg);
}


.drop{
    list-style: none;
    padding:0.2em 0.5em;
    background:#b7202e;
    /* border:1px #363a43 solid; */
    box-shadow: 0 0 0.8em #26489a;
    /* box-shadow: 0 0.5em 1em rgba(0,0,0,0.2); */
    border-radius:0.5em;
    color:#ffffff;
    position:absolute;
    top:4em;
    left:50%;
    width:100%;
    transform:translateX(-50%);
    opacity:0;
    display:none;
    transition:0.2s;
    z-index:1;
    height:auto;
    max-height: 123px;
    overflow-x: hidden;
}

.drop li{
    padding:0.6em 0.5em;
    margin: 0.3em 0;
    border-radius:0.5em;
    cursor:pointer;
    font-family: 'Fira sans';
    font-size: 15px;
}

.drop li:hover{
    box-shadow: 0 0 0.8em #26489a;
    /* background: #58595b; */
}

.drop-open{
    display:block;
    opacity:1;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 2000;
        
}

.enterbtn{
    display: flex;
    justify-content: center;
    text-align: center;
    cursor:pointer;
    color:#ffffff;
    background-color:transparent;
    padding:10px 10px;
    margin:auto;
    /* margin-left: 46%;
    margin-right: auto; */
    border-color: red;
    border-radius: 10px;
    height:50px;
    width:110px;
    font-family: 'Fira Sans';
    font-size: 25px;
}

.enterbtn:hover{
    background-color: #b7202e;
    color:#ffffff;
    transition: 0.3s;
    box-shadow: 0 0 0.8em #26489a;
    transition: 0.3s;
    box-shadow: 0 0 0.8em #26489a;
}


                                                        /*adminpg.html*/

.admintitle{
    font-family: 'Marcellus';
    font-size:40px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color:#ffffff;
    font-style: bold;
}

.updatebtn{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:12% 10%;
    margin-bottom:7.3%;

}

.userup,.pdfup,.syllup{
    display: flex;
    justify-content: center;
    text-align: center;
    cursor:pointer;
    color:#ffffff;
    background-color:transparent;
    padding:10px 10px;
    margin:auto;
    /* margin-left: 46%;
    margin-right: auto; */
    border-color: red;
    border-radius: 10px;
    height:50px;
    width:250px;
    font-family: 'Fira Sans';
    font-size: 20px;
}

.userup:hover{
    background-color: #b7202e;
    color:#ffffff;
    transition: 0.3s;
    box-shadow: 0 0 0.8em #26489a;
    transition: 0.3s;
    box-shadow: 0 0 0.8em #26489a;
}

.pdfup:hover{
    background-color: #b7202e;
    color:#ffffff;
    transition: 0.3s;
    box-shadow: 0 0 0.8em #26489a;
    transition: 0.3s;
    box-shadow: 0 0 0.8em #26489a;
}

.syllup:hover{
    background-color: #b7202e;
    color:#ffffff;
    transition: 0.3s;
    box-shadow: 0 0 0.8em #26489a;
    transition: 0.3s;
    box-shadow: 0 0 0.8em #26489a;
}